$font: 'Roboto', sans-serif;

$tablet: 650px;
$desktop: 800px;
$widescreen: 1000px;

$primary: #56CBF9;
$success: #7CEAD8;
$warning: #F0D39D;
$danger: #FF729F;

$border-radius: 6px;
$navbar-height: 50px;
